img.set-img {
  width: 100%;
  border-radius: 100%;
}

.single__show__list__tags {
  margin-bottom: 10px;
  margin-top: 5px;
}

.single__show__list__tag {
  font-size: 18px;
}

audio#audio_with_controls {
  width: 100%;
}
