<div class="grid" *ngIf="isLoading == true">
  <div class="col-12@xs">
    <app-loader></app-loader>
  </div>
</div>
<div class="grid" *ngIf="isLoading == false">
  <div class="col-3@sm">
    <figure class="square">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="show?.image"
        alt="{{ show?.title }}"
        style="width: 100%"
      />
    </figure>
  </div>
  <div class="col-9@sm">
    <h1 [style.color]="hex">
      <span>{{ show?.title }}</span>
    </h1>
    <p style="margin-top: 10px;" [innerHTML]="show?.description"></p>
  </div>
  <div class="col-12">
    <app-recordings-list [recordings]="recordings"> </app-recordings-list>
  </div>
</div>
