<div class="grid-auto-xl grid-gap-lg" *ngIf="isLoading == false">
  <div
    class="center ShowCard broadcast"
    [hidden]="isLoading"
    *ngFor="let show of shows.slice(0, limit)"
    [ngStyle]="{
      background:
        'linear-gradient(-180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 95%), no-repeat center center url(' +
        show?.image +
        ')',
      'background-size': 'cover'
    }"
  >
    <aside>
      <div class="recording__list__text__container">
        <a class="show__link" routerLink="/shows/{{ show?.slug }}">
          <h4>{{ show?.title }}</h4>
        </a>
      </div>
    </aside>
  </div>
</div>
<div class="col-12" *ngIf="isLoading == true">
  <app-loader></app-loader>
</div>
