<div
  class="container-fluid"
  *ngIf="isLoading == true"
  style="background: #ffffff; padding-top: 80px;"
>
  <div class="row">
    <div class="col-12">
      <h1>Info</h1>
    </div>
    <div class="col-12">
      <app-loader></app-loader>
    </div>
  </div>
</div>
<div
  class="container-fluid"
  *ngIf="isLoading == false"
  style="background: #ffffff; padding-top: 80px;"
>
  <div class="row">
    <div class="col-12">
      <h1>About</h1>
    </div>
    <div class="col-12 col-md-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus ad
        adipisci, aliquam amet animi aperiam, asperiores consequuntur corporis
        deserunt distinctio dolorem iste itaque maiores nam nesciunt odit
        praesentium quasi quo quos sequi sunt ut voluptatibus. Aut delectus ea
        eligendi est et, eveniet expedita facere hic impedit maxime praesentium
        qui quidem ratione, repellat rerum, vitae voluptas? Ab assumenda
        dignissimos ipsa nemo possimus quaerat sed tempora vero! Ad aliquam
        doloremque eius facere nulla sunt voluptate. Eaque eveniet impedit iste
        mollitia nisi nobis nostrum rerum temporibus unde voluptate.
      </p>
    </div>
    <div class="col-12 col-md-4">
      <h3>Contact</h3>
      <p>
        <strong>Don't hesitate to contact us.</strong>
      </p>
      <p>
        <i-feather name="instagram" class="icon"></i-feather> Instagram:
        <a href="https://instagram.com/radio.rasclat" target="_blank"
          >@radio.rasclat</a
        ><br />
        <i-feather name="twitter" class="icon"></i-feather> Twitter:
        <a href="https://twitter.com/radiorasclat" target="_blank"
          >@radiorasclat</a
        ><br />
        <i-feather name="mail" class="icon"></i-feather> E-Mail:
        <a href="mailto:office@radio-rasclat.com"
          >office (at) radio-rasclat.com</a
        >
      </p>
    </div>
    <div class="col-12 col-md-4">
      <h3>How to listen?</h3>
    </div>
    <div class="col-12 col-md-8">
      <p>
        There are multiple options to listen to Radio Rein on the go or at your
        desktop. You can either use the stream it's direct link:
      </p>
      <p>
        <i-feather class="icon" name="music"></i-feather>
        <a href="https://station.radio-rasclat.com/live" target="_blank">
          MP3 / 128kbps (SSL)
        </a>
      </p>
      <p>
        Due to our amazing financial contributors — thanks again — you can
        download our corresponding app for iOS available for free on the App
        Store:<br />
      </p>
      <p>
        <a
          href="https://apps.apple.com/us/app/radio-rasclat/id1499269866?mt=8"
          target="_blank"
          style="
            display: inline-block;
            overflow: hidden;
            background: url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2020-02-17&kind=iossoftware&bubble=ios_apps)
              no-repeat;
            width: 135px;
            height: 40px;
          "
        >
        </a>
      </p>
      <p>
        As an alternative we are working on a skill for Alexa which allows
        native background music on any Alexa, Android and iOS device. Coming
        soon.
      </p>
    </div>
    <div class="col-12"></div>
  </div>
</div>
