/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

* {
  outline: none !important;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Didot", serif;
  background-position-x: -20px;
  background-attachment: fixed;
  background-color: #ffffff;
  font-size: 1.75rem;
  margin-bottom: 180px;
  color: #000;
}

h1 {
  font-size: 3.5rem;
}

.btn,
.btn:active,
.btn:focus,
.btn:hover {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.navbar {
  mix-blend-mode: difference !important;
  filter: invert(1) !important;
}

.broadcastCard {
  padding: 30px;
  border: 4px solid #000;
  margin-bottom: 30px;
}

a.nav-item,
.navbar-brand {
  font-size: 2rem;
}

.navbar-brand {
  font-weight: 700;
}

.carousel-image-wrapper {
  height: 70vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.noise {
  background-image: url(https://www.dublab.com/img/noise.7cb7d239.gif);
  background-repeat: repeat;
  background-size: 200px 200px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.11;
}

.carousel-caption a {
  color: #fff;
}

.recording__list__image__container {
  padding: 20px;
  margin-bottom: 1rem;
}

.ticker {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  font-size: 5rem;
  font-style: italic;
  height: 62px;
}

marquee {
  height: 115px;
  margin-top: -70px;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 4px solid #000;
}

figure {
  margin: 0;
}

img.recording__artists__single__image {
  width: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.currentWidget {
  background: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: 4px solid #000;
  min-height: 88px;
  padding: 5px 15px;
}

.carousel-caption {
  text-shadow: 0px 1px 1px #000;
}
