/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

* {
  outline: none !important;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Didot", serif;
  padding-top: 80px;
  background-position-x: -20px;
  background-attachment: fixed;
  background-color: #ffffff;
}

.grid {
  grid-gap: 2rem;
  padding: 0 1rem 1rem;
  width: 100%;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0;
}
