<div class="col-12" *ngIf="isLoading == false && recordings?.length == 0">
  <span translate>NO_RECORDINGS_FOUND</span>
</div>

<div class="grid-auto-xl grid-gap-lg" *ngIf="isLoading == false">
  <div
    class="center RecordingCard broadcast"
    [hidden]="isLoading"
    *ngFor="let recording of recordings.slice(0, limit)"
  >
    <div class="recording__list__image__container">
      <a class="show__link" routerLink="/broadcasts/{{ recording?.slug }}">
        <figure class="circle">
          <img
            [defaultImage]="defaultImage"
            [lazyLoad]="recording?.image"
            alt="{{ recording?.title }}"
          />
        </figure>
      </a>
    </div>
    <aside>
      <div class="recording__list__text__container">
        <div class="recording__list__text__container__tag__wrapper">
          <span
            class="recording__list__text__container__tags"
            *ngFor="let genre of recording?.genres"
          >
            <a
              routerLink="/search"
              [queryParams]="{ 'refinementList[genres.title][0]': genre.title }"
              >{{ genre.title }}</a
            >
          </span>
        </div>
        <a class="show__link" routerLink="/broadcasts/{{ recording?.slug }}">
          <h4>
            {{
              recording?.title.length > 40
                ? (recording?.title | slice: 0:40) + '...'
                : recording?.title
            }}
          </h4>
          <h6 [hidden]="recording?.views">
            {{ recording?.timeStart | date: 'dd.MM.yyyy' }},
            {{ recording?.timeStart | date: 'HH:mm' }}
          </h6>
          <h6 [hidden]="!recording?.views">
            {{ recording?.views }} plays the last 7 days
          </h6>
        </a>
      </div>
    </aside>
  </div>
</div>
<div class="col-12" *ngIf="isLoading == true">
  <app-loader></app-loader>
</div>
