<div class="col-12" *ngIf="isLoading == false && recordings?.length == 0">
  <span translate>NO_RECORDINGS_FOUND</span>
</div>

<div class="row" *ngIf="isLoading == false">
  <div
    class="col-12 col-sm-6 col-md-4 col-lg-3"
    [hidden]="isLoading"
    *ngFor="let recording of recordings.slice(0, limit)"
  >
    <div class="broadcastCard">
      <div class="recording__list__image__container">
        <a class="show__link" routerLink="/broadcasts/{{ recording?.slug }}">
          <img
            [defaultImage]="defaultImage"
            [lazyLoad]="recording?.image"
            alt="{{ recording?.title }}"
            style="width: 100%;"
          />
        </a>
      </div>
      <aside>
        <div class="recording__list__text__container">
          <!--<div class="recording__list__text__container__tag__wrapper">
            <small
                class="recording__list__text__container__tags"
                *ngFor="let genre of recording?.genres"
            >
              <a
                  routerLink="/search"
                  [queryParams]="{ 'refinementList[genres.title][0]': genre.title }"
              >{{ genre.title }}</a
              >
            </small>
          </div>-->
          <a class="show__link" routerLink="/broadcasts/{{ recording?.slug }}">
            <h4>
              {{
                recording?.title.length > 30
                  ? (recording?.title | slice: 0:30) + '...'
                  : recording?.title
              }}
            </h4>
            <h6 [hidden]="recording?.views">
              {{ recording?.timeStart | date: 'dd.MM.yyyy' }},
              {{ recording?.timeStart | date: 'HH:mm' }}
            </h6>
            <h6 [hidden]="!recording?.views">
              {{ recording?.views }} plays the last 7 days
            </h6>
          </a>
        </div>
      </aside>
    </div>
  </div>
</div>
<div class="col-12" *ngIf="isLoading == true">
  <app-loader></app-loader>
</div>
