<div class="currentWidget">
  <div class="container-fluid">
    <div class="row">
      <div style="display: table;">
        <div style="display: table-cell; vertical-align: middle; width: 80px;">
          <button
            class="btn btn-primary"
            (click)="play()"
            [disabled]="state?.error"
            *ngIf="!state?.playing"
          >
            Play
          </button>

          <button
            class="btn btn-primary"
            (click)="pause()"
            *ngIf="state?.playing"
          >
            Pause
          </button>
        </div>
        <div style="display: table-cell; vertical-align: middle; width: 80px;">
          <div *ngIf="state.currentTrack.currentImage">
            <img
              src="{{ state.currentTrack.currentImage }}"
              style="width: 65px;"
            />
          </div>
        </div>
        <div style="display: table-cell; vertical-align: middle;">
          <a routerLink="/broadcasts/{{ state.currentTrack.currentUrl }}">
            {{
              state.currentTrack.currentTitle.length > 50
                ? (state.currentTrack.currentTitle | slice: 0:50) + '...'
                : state.currentTrack.currentTitle
            }}
          </a>
          <div class="timeline">
            {{ state?.readableCurrentTime }}
            <input
              type="range"
              class="time-slider"
              min="0"
              [max]="state?.duration"
              step="1"
              style="width: 50%;"
              [value]="state?.currentTrack.currentTime"
              (input)="onSliderChangeEnd($event)"
              [disabled]="state?.error"
              *ngIf="state.currentTrack.currentSrc != ''"
            />
            {{ state?.readableDuration }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
