<header>
  <nav class="navbar navbar-expand-xl fixed-top">
    <a class="navbar-brand" routerLink="/" translate>
      Radio Rein
    </a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon">
        <i class="fas fa-bars" style="font-size: 30px;"></i>
      </span>
    </button>
    <div
      id="navbar-menu"
      class="collapse navbar-collapse float-xs-none"
      [ngbCollapse]="menuHidden"
    >
      <div class="navbar-nav">
        <a
          class="nav-item nav-link"
          routerLink="/broadcasts"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          <span translate>RECORDINGS</span>
        </a>
        <a
          class="nav-item nav-link"
          routerLink="/schedule"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          <span translate>SCHEDULE</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <span *ngIf="liveInfo" class="nav-item nav-link live-indicator">
          <button class="pulse-button"></button> LIVE
        </span>
        <div class="nav-item" ngbDropdown placement="bottom-right">
          Live Info
        </div>
      </div>
    </div>
  </nav>
</header>
