@import "src/theme/theme-variables";

@media (min-width: 1200px) {
  .navbar {
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.2s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .navbar.hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@media (max-width: 1199px) {
  .nav-link {
    display: block;
    padding: 0.1rem 0rem;
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
