<div class="currentWidget">
  <div *ngIf="currentShowName" class="show__progress_bar">
    <div class="progress">
      <div
        id="progressbar"
        class="progress-bar"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 0%;"
      ></div>
    </div>
  </div>
  <div style="padding: 15px;">
    <div *ngIf="!isLoading" class="main-current" style="display: table;">
      <div
        class="current-keyvisual"
        style="display: table-cell; vertical-align: middle;"
      >
        <div>
          <button (click)="onAudioPlay()" style="padding-left: 0;">
            <i-feather [name]="value"></i-feather>
          </button>
        </div>

        <audio #audioOption>
          <source
            src="https://station.radio-rasclat.com/live"
            type="audio/mpeg"
          />
        </audio>
      </div>
      <div
        *ngIf="currentShowImg"
        class="current-image"
        style="display: table-cell; vertical-align: middle;"
      >
        <img
          src="{{ currentShowImg }}"
          style="width: 45px; margin-right: 10px;"
        />
      </div>
      <div
        class="current-info"
        style="display: table-cell; vertical-align: middle;"
        *ngIf="currentShowName"
      >
        <h1>Live: {{ currentShowName | safeHtml }}</h1>
        {{ currentShowStart | date: 'HH:mm' }} -
        {{ currentShowEnd | date: 'HH:mm' }} Uhr
      </div>
      <div
        class="current-info"
        style="display: table-cell; vertical-align: middle;"
        *ngIf="!currentShowName"
      >
        <h1>
          OFF AIR.
        </h1>
        <span *ngIf="nextShowName">
          <!-- TODO: translation bug -->
          Next: {{ nextShowName }}
          <span style="opacity: 0.4;">&mdash; {{ nextShowStart }}</span>
        </span>
      </div>
    </div>

    <div *ngIf="isLoading" class="main-current" style="display: table;">
      <div
        class="current-keyvisual"
        style="display: table-cell; vertical-align: middle;"
      ></div>
      <div
        class="current-info"
        style="display: table-cell; vertical-align: middle;"
      >
        <app-loader></app-loader>
      </div>
    </div>
  </div>
</div>
