<div class="grid" style="padding-bottom: 0">
  <div class="col-12">
    <h1>Search</h1>
  </div>
  <div class="col-12">
    <input
      type="text"
      class="ais-SearchBox-input"
      autofocus
      [placeholder]="'Search...'"
      (keyup)="onQuery({ $event: $event })"
    />
  </div>
  <div class="col-12">
    <h3>Search Broadcasts</h3>
  </div>
</div>
<div class="grid">
  <ais-instantsearch [config]="recordingsConfig">
    <div class="col-12@xs" style="margin-bottom: 15px;">
      <ais-refinement-list attribute="genres.title"></ais-refinement-list>
      <ais-current-refinements></ais-current-refinements>
      <ais-configure [searchParameters]="searchParameters"></ais-configure>
    </div>
    <div class="col-12@xs">
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <div class="col-12">
            <app-recordings-list [recordings]="hits"> </app-recordings-list>
          </div>
        </ng-template>
      </ais-hits>
    </div>
    <div class="col-12@xs">
      <ais-pagination
        [showFirst]="true"
        [showLast]="true"
        [showPrevious]="true"
        [showNext]="true"
      ></ais-pagination>
    </div>
  </ais-instantsearch>
</div>
<div class="grid">
  <div class="col-12">
    <hr />
  </div>
</div>
<div class="grid">
  <div class="col-12">
    <ais-instantsearch [config]="showsConfig">
      <h3>Search Shows</h3>
      <h6><ais-stats></ais-stats></h6>
      <ais-configure [searchParameters]="searchParameters"></ais-configure>
      <ais-hits>
        <ng-template let-hits="hits" let-results="results">
          <div class="col-12" *ngIf="hits?.length === 0">
            <span translate>NO_RESULTS</span> {{ results.query }}
          </div>
          <div class="col-12">
            <app-shows-list [shows]="hits"> </app-shows-list>
          </div>
        </ng-template>
      </ais-hits>
    </ais-instantsearch>
  </div>
</div>
