<footer>
  <div class="grid">
    <div class="col-12@sm col-start-3@md col-end-11@md">
      <h1 translate="">
        APP_NAME
      </h1>
      <h4>
        Radio Rasclat is a non-commercial internet radio which streams your
        music and serves as a place for the exchange, dialogue and cooperation
        of music.
      </h4>
      <p>
        <a routerLink="/about" routerLinkActive="active" translate>ABOUT</a> •
        <a href="https://soundcloud.com/radiorasclat" target="_blank"
          >SoundCloud</a
        >
        •
        <a
          href="https://apps.apple.com/de/app/radio-rasclat/id1499269866"
          target="_blank"
          >iOS</a
        >
        •
        <a
          href="https://join.slack.com/t/radiorasclat/shared_invite/zt-d6a2w09w-WaXu4pG_2G2D4ic5DMpu3A"
          target="_blank"
          >Slack</a
        >
      </p>
    </div>
  </div>
</footer>
