<div
  class="container-fluid"
  *ngIf="isLoading == true"
  style="background: #ffffff; padding-top: 80px;"
>
  <div class="row">
    <div class="col-12">
      <app-loader></app-loader>
    </div>
  </div>
</div>
<div *ngIf="isLoading == false" style="background: #fff;">
  <ngb-carousel>
    <ng-template
      ngbSlide
      *ngFor="let recording of recordings | slice: 10:30; let i = index"
    >
      <div
        class="carousel-image-wrapper"
        [ngStyle]="{
          background: 'no-repeat center center url(' + recording?.image + ')',
          'background-size': 'cover'
        }"
      >
        <div class="noise"></div>
        <div class="carousel-caption">
          <a class="show__link" routerLink="/broadcasts/{{ recording?.slug }}">
            <h2 class="display-4">{{ recording?.title }}</h2>
          </a>
          <p class="lead">
            {{ recording?.timeStart | date: 'dd.MM.yyyy' }},
            {{ recording?.timeStart | date: 'HH:mm' }}
          </p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="ticker mb-4">
    <marquee scrollamount="20">
      <div *ngIf="schedule?.length >= 1" class="ScheduleCard">
        {{ today }} schedule
        <span *ngFor="let show of schedule">
          {{ show?.starts | dateFormat: 'HH:mm' }} -
          {{ show?.ends | dateFormat: 'HH:mm' }} {{ show?.name | safeHtml }}
        </span>
      </div>
      <div *ngIf="schedule?.length == 0" class="ScheduleCard">
        {{ today }} schedule:
        <span>
          No program scheduled for today, sorry! Come back tomorrow.
        </span>
      </div>
    </marquee>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div style="margin-bottom: 15px;">
          <h1>Aus dem R:chiv</h1>
        </div>
        <app-recordings-list
          [recordings]="recordings"
          [hidden]="isLoading"
          [limit]="8"
        >
        </app-recordings-list>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a class="btn btn-primary" routerLink="/broadcasts"
          >View all recordings</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div style="margin-bottom: 15px; border-bottom: 1px solid #e0e0e0;">
          <h1></h1>
        </div>

        <div class="col-12 text-center" style="margin-top: 30px;">
          <a class="btn btn-primary" routerLink="/schedule">
            Go to schedule
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
